{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

{{apology}}
<div style="margin-left: 3%; margin-top: 2%;">
    <form action="/reg" method="POST">
        <br>
        <input name = 'username' autocomplete = 'off' autofocus type = 'text' placeholder = 'username'>
        <br>
        <input name = 'password' autocomplete = 'off' autofocus type = 'password' placeholder = 'password'>
        <br>
        <input name = 'confirmation' autocomplete = 'off' autofocus type = 'password' placeholder = 'confirmation of password'>
        <br>
        <button type = submit>Register</button>
    </form>
</div>
{% endblock %}